VITE_FIREBASE_API_KEY=AIzaSyDZ609tpVpSrWfOKVHVoyo9DK8dbYqAtRE
VITE_FIREBASE_AUTH_DOMAIN=likutil.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=likutil
VITE_FIREBASE_STORAGE_BUCKET=likutil.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=314662541049
VITE_FIREBASE_APP_ID=1:314662541049:web:9e6efa3430e1be4f47f428
VITE_FIREBASE_MEASUREMENT_ID=G-VYRKS8Z4EX
